.title{
  font-size: 20px;
  background-color: lightgrey;
  color: dimgrey;
  padding: 20px
}

.sort-label{
  font-size: 18px;
  padding: 5px;
  color: dimgrey;
}

.selector{
  display: flex;
  flex-direction: row;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid dimgrey;
  margin: 5px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid dimgrey;
  margin: 5px;
}
